<mat-toolbar class="toolbar mat-elevation-z4">
  <a routerLink="/">
    <div class="title-group">
      <i class="material-icons">devices</i>
      <h1>Komodo Blog</h1>
    </div>

    <nav>
      <!-- MOBILE -->
       <button class="mat-button" mat-icon-button
        [matMenuTriggerFor]="afterMenu"
       >
         <mat-icon>menu</mat-icon>
       </button>
       <mat-menu class="mat-menu-content disabled" #afterMenu="matMenu" xPosition="after">
        <button mat-menu-item>
          <a routerLink="/" class="link">
            <mat-icon class="mat-menu-description">home</mat-icon>
            <span class="mat-menu-description">Home</span>
          </a>
        </button>

        <button mat-menu-item (click)="about()">
          <a routerLink="/" class="link">
            <mat-icon class="mat-menu-description">person</mat-icon>
            <span class="mat-menu-description">About the author</span>
          </a>
        </button>
       </mat-menu>
    </nav>
  </a>

  <!-- DESKTOP -->
  <ul class="list">
    <li>
      <a class="link-item" routerLink="/" title="Home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a class="link-item" title="About the author" (click)="about()">
        <mat-icon>import_contacts</mat-icon>
        <span>About the author</span>
      </a>
    </li>
  </ul>
</mat-toolbar>